[v-cloak] {
    display: none !important;
}

.bg-gray {
    background: url('/static/img/bg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.login-form {
    margin-top: auto;
    margin-bottom: auto;
}

.login-left-image {
    background: url(/static/img/login_left.jpg);
    background-position: center;
    background-size: cover;
}

.wrong_textbox {
    background-color: #ffc2c2;
}

.setting_box {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999;
}

.wrong_checkbox {
    background-color: #ffc2c2;
}

#main {
    background-color: #fff;
    box-shadow: 15px 0 15px -15px #2592c565, -15px 0 15px -15px #2592c565;
}

.float-toolbar {
    width: 150px;
    display: grid;
    position: fixed;
    bottom: 1%;
    right: 0;
    z-index: 999;
}

#chart {
    width: 766px;
    height: 400px;
}

/* 管理员后台样式 */

.sidebar-brand-text {
    color: #fff;
    font-family: '微软雅黑';
    font-size: 1.5rem;
    font-weight: bold;
}

.sidebar .nav-item .nav-link span {
    font-size: 1rem;
}

.table-responsive {
    overflow-x: hidden;
}