<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>文明单位测试平台</title>
    <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/static/css/lian.css" rel="stylesheet">
</head>

<body class="bg-gray h-100">
    {% block body %}{% endblock %}
</body>
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/static/js/sb-admin-2.min.js"></script>
<script src="/static/js/echarts.min.js"></script>
{% block script %}{% endblock %}

</html>