{% extends "base.html" %}
{% block body %}
<div class="float-toolbar">
    <div class="btn btn-secondary" id='notifier'>剩余时间: 30 : 00</div>
    <button class="btn btn-lg btn-success mt-1 submit" onclick="getScore()">提交</button>
    <button class="btn btn-lg btn-info mt-1" onclick="getHistory()">历史成绩</button>
    <button class="btn btn-lg btn-warning mt-1 d-none" id='restartBtn' onclick="restart()">再来一次</button>
</div>

<div class="container pt-3 pb-3" id="main" v-cloak>
    <div class="row">
        <div class="col-md-12">
            <h3 class="d-inline">欢迎 <span id="username">{{ username }}</span> 进行测验</h3>
            <hr />
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <form id="ceshi">
                <h2>填空题</h2>
                <div>说明:多个填空问题请使用单个空格进行分割</div>
                <table class="table table-bordered table-striped mt-3">
                    <thead>
                        <tr>
                            <th class="text-center" style="width:70px">编号</th>
                            <th class="text-center">题目</th>
                            <th class="text-center" style="width:30%">回答</th>
                        </tr>
                    </thead>
                    <tr v-for="q in questions.tiankong">
                        <td class="text-center">{{q.id}}</td>
                        <td class="text-left">{{q.title}}</td>
                        <td><input class="form-control" type="text" :name=q.id+'-tiankong'></td>
                    </tr>
                </table>
                <h2>单选题</h2>
                <table class="table table-bordered table-striped mt-3">
                    <thead>
                        <tr>
                            <th class="text-center" style="width:70px">编号</th>
                            <th class="text-center">题目</th>
                            <th class="text-center" style="width:30%">回答</th>
                        </tr>
                    </thead>

                    <tr v-for="q in questions.danxuan">
                        <td class="text-center">{{q.id}}</td>
                        <td class="text-left">{{q.title}}</td>
                        <td class="pl-5">
                            <div v-for="o in q.options">
                                <!-- 单选input命名规则: id-danxuan -->
                                <input type="radio" class="custom-control-input" :id=q.id+'danxuan'+o.substr(0,1)
                                    :name=q.id+'-danxuan' :value=o.substr(0,1)>
                                <label class="custom-control-label" :for=q.id+'danxuan'+o.substr(0,1)>{{o}}</label>
                            </div>
                        </td>
                    </tr>
                </table>
                <h2>多选题</h2>
                <table class="table table-bordered table-striped mt-3">
                    <thead>
                        <tr>
                            <th class="text-center" style="width:70px">编号</th>
                            <th class="text-center">题目</th>
                            <th class="text-center" style="width:30%">回答</th>
                        </tr>
                    </thead>

                    <tr v-for="q in questions.duoxuan">
                        <td class="text-center">{{q.id}}</td>
                        <td class="text-left">{{q.title}}</td>
                        <td class="pl-5">
                            <div v-for="o in q.options">
                                <!-- 多选input命名规则: id-duoxuan -->
                                <input type="checkbox" class="custom-control-input" :id=q.id+'duoxuan'+o.substr(0,1)
                                    :name=q.id+'-duoxuan' :value=o.substr(0,1)>
                                <label class="custom-control-label" :for=q.id+'duoxuan'+o.substr(0,1)>{{o}}</label>
                            </div>
                        </td>
                    </tr>
                </table>
                <h2>判断题</h2>
                <table class="table table-bordered table-striped mt-3">
                    <thead>
                        <tr>
                            <th class="text-center" style="width:70px">编号</th>
                            <th class="text-center">题目</th>
                            <th class="text-center" style="width:30%">回答</th>
                        </tr>
                    </thead>

                    <tr v-for="q in questions.panduan">
                        <td class="text-center">{{q.id}}</td>
                        <td class="text-left">{{q.title}}</td>
                        <td class="pl-5">
                            <div class="d-flex">
                                <div class="form-group">
                                    <input type="radio" class="custom-control-input" :id=q.id+'right'
                                        :name=q.id+'-panduan' value="1">
                                    <label class="custom-control-label" :for=q.id+'right'>正确</label>
                                </div>
                                <div class="form-group ml-5">
                                    <input type="radio" class="custom-control-input" :id=q.id+'wrong'
                                        :name=q.id+'-panduan' value="2">
                                    <label class="custom-control-label" :for=q.id+'wrong'>错误</label>
                                </div>
                            </div>
                </table>
            </form>
        </div>
    </div>
</div>


<!-- 时间到模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="display:block">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">提示</h4>
            </div>
            <div class="modal-body">时间到,请提交答案.</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="getScore()">提交答案</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- 历史成绩模态框（Modal） -->
<div class="modal fade" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="display:block">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="historyModalLabel">历史成绩</h4>
            </div>
            <div class="modal-body">
                <div id='chart'>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- /.modal -->

</div>
{% endblock %}

{% block script %}
<!-- VUE渲染 -->
<script>
    var questions_data = {{ questions| tojson }};
    var v = new Vue({
        el: '#main',
        data: {
            questions: questions_data
        }
    })
</script>

<!-- 功能函数 -->
<script>
    // 倒计时
    var LEFTTIME = 1799;
    var timer = setInterval(function () {
        if (LEFTTIME > 0) {
            minutes = ~~(LEFTTIME / 60);
            seconds = LEFTTIME % 60;
            $('#notifier').text('剩余时间: ' + minutes + ' : ' + seconds);
        } else {
            $('#notifier').text('时间到!');
            $('input').prop('readonly', true);
            $("#myModal").modal('show');
            clearInterval(timer);
        }
        LEFTTIME -= 1;
    }, 1000);

    //错误答案标红
    function setWrong(id) {
        type_timu = id.split('-')[1];
        if (type_timu == 'tiankong') {
            $('input[name="' + id + '"]').addClass('wrong_textbox');
        } else if (type_timu == 'panduan') {
            $('input[name="' + id + '"]').parent().parent().parent().addClass('wrong_checkbox')
        } else {
            $('input[name="' + id + '"]').parent().parent().addClass('wrong_checkbox')
        }
    }

    // 计算成绩
    function getScore() {
        formData = $('#ceshi').serializeArray();
        jsonData = JSON.stringify(formData);

        $.ajax({
            type: 'POST',
            url: '/check',
            contentType: 'application/json',
            data: jsonData,
            dataType: 'json',
            success: function (data) {
                $("#notifier").text('成绩: ' + data.total_score);
                // 显示错误题
                $.each(data.detail, function (k, v) {
                    if (v.result == false) {
                        setWrong(v.id);
                    }
                })
                //记录
                doLog(data.total_score);
            }
        });
        clearInterval(timer);

        $('.submit').prop('disabled', true);
        $('#restartBtn').removeClass('d-none');
    }

    // 再来一次
    function restart() {
        $('#restartBtn').addClass('d-none');
        $('.submit').prop('disabled', false);
        $('input').removeClass('wrong_textbox');
        $('td').removeClass('wrong_checkbox');
        $.ajax({
            type: 'GET',
            url: '/get',
            dataType: 'json',
            success: function (data) {
                v._data['questions'] = data;
            }
        })
    }

    // 记录成绩
    function doLog(score) {
        var username = $('#username').text();
        postData = { username: username, score: score };
        $.ajax({
            type: 'POST',
            url: '/log',
            data: postData,
            dataType: 'json',
            success: function (data) {
                console.log(data.result);
            }
        });
    }
    // 绘制历史成绩图表
    var myChart = echarts.init(document.getElementById('chart'));
    var option = {
        title: {
            text: '历史成绩'
        },
        tooltip: {},
        legend: {
            data: ['成绩']
        },
        xAxis: {
            type: 'category',
            data: []
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            name: '成绩',
            type: 'bar',
            data: []
        }]
    }
    function getHistory() {
        // 填充数据
        var username = $('#username').text();
        $.ajax({
            type: 'POST',
            url: '/history',
            data: { 'username': username },
            dataType: 'json',
            success: function (data) {
                // 返回的数据格式需要处理一下
                // {"history":[{"score":1,"test_time":"2019-10-23 10:55:43"},{"score":0,"test_time":"2019-10-23 10:55:23"},{"score":0,"test_time":"2019-10-23 09:14:40"},{"score":0,"test_time":"2019-10-23 09:14:00"},{"score":0,"test_time":"2019-10-23 09:02:15"}}}
                series_data = [];
                xAxis_data = [];
                $.each(data.history, function (k, v) {
                    series_data.push(v.score);
                    xAxis_data.push(v.test_time);
                })
                option.series[0].data = series_data;
                option.xAxis.data = xAxis_data;
                myChart.setOption(option);
                $("#historyModal").modal('show');
            }
        });

    }


</script>
{% endblock %}