{% extends "base.html" %}
{% block body %}
<div class="container-fluid h-100">
    <div class="row justify-content-center align-self-center h-100">
        <div class="col-md-12">
            <div class="card mt-4">
                <div class="card-body">
                    <div class='row'>
                        <div class="col-md-12">
                            <input class="form-control" id="keyword" onkeyup="query()">
                            <!-- <button class="btn btn-block mt-2 btn-success" onclick="query()">查询</button> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id='result' class="mt-2"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    function query() {
        var keyword = $("#keyword").val();
        $.ajax({
            url: '/quick',
            method: 'POST',
            data: {
                keyword: keyword
            },
            success: function (data) {
                var all = "";
                $.each(data, function (k, v) {
                    all += v.title + '<hr />';
                })
                $("#result").html(all)
            }
        })

    }
</script>
{% endblock %}